.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

    .h-font{
        text-align: start;
        font-family:    "Helvetica W01", "Microsoft YaHei", 微软雅黑, SimHei, 黑体, "PingFang SC", 萍方, "Noto Sans", sans-serif;
        writing-mode: horizontal-tb !important;
    }
    .h-font-p{
        text-align: start;
    }
    .container{
        background-color: #f2f4f2;
    }

.forget-password-left{
    display: inline;
   float: left;
   font-size: 16px;
       
    }
   
.forget-password-right{
    display: inline;
    float: right;
}